admf/bin/
admf/lib/
admf/src/*.o
d_admf/bin/
d_admf/src/*.o
d_df/bin/
d_df/db/
d_df/src/*.o
*/tags
*/core
*/logs/
df/bin/
df/db/
df/lib/
df/src/*.o
legacy_admf/bin/
legacy_admf/src/*.o
legacy_df/bin/
legacy_df/src/*.o
legacy_df_interface/build/
legacy_df_interface/lib/
legacy_admf_interface/build/
legacy_admf_interface/lib/
